<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="en">

    <!-- Website Title -->
    <title>
        <%= user.username %> Account - Rooobz Cars
    </title>

    <!-- Icon -->
    <link rel="shortcut icon" href="https://rooobzcars.reubz.io/imgs/logo.png" type="image/x-icon">

    <!-- Primary Tags -->
    <meta name="title" content="<%= user.username %> Account - Rooobz Cars">
    <meta name="description" content="<%= user.username %> account page">


    <!-- Open Graph / Facebook / Insta -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://rooobzcars.reubz.io/account">
    <meta property="og:title" content="<%= user.username %> Account - Rooobz Cars">
    <meta property="og:description" content="<%= user.username %> account control page">
    <meta property="og:image" itemprop="image" content="https://rooobzcars.reubz.io/imgs/logo-with-text.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://rooobzcars.reubz.io/account">
    <meta property="twitter:title" content="<%= user.username %> Account - Rooobz Cars">
    <meta property="twitter:description" content="<%= user.username %> account control page">
    <meta property="twitter:image" content="https://rooobzcars.reubz.io/imgs/logo-with-text.png">

    <!-- For Discord Embeds -->
    <meta content="#FF4C30" data-react-helmet="true" name="theme-color" />

    <link rel="stylesheet" href="/css/account.css">

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Fontawesome Link -->
    <!-- <script src="https://kit.fontawesome.com/4d3f484b6f.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
</head>

<body>

    <div data-include="navbar"></div>

    <div data-include="title-banner?title=Profile%20Settings&description=%20"></div>
    <section class="data-wrapper">
        <div class="main-container">
            <div class="left-container">
                <div class="image-container">
                    <img src="<%= user.profileImg %>" onerror="this.src = '/imgs/default-user-img.png'"
                        alt="Profile Image">
                </div>
                <div class="buttons-wrapper">
                    <button id="change-btn" onclick="openPfpDialog()">Change Image <i
                            class="fa-duotone fa-file-pen"></i></button>
                    <div class="form-wrapper" id="image-form-wrapper">
                        <form id="image-upload">
                            <div class="content-wrapper">
                                <div class="title-wrapper">
                                    <h2>Upload your custom profile image</h2>
                                    <i class="fad fa-circle-xmark" onclick="closePfpDialog()"></i>
                                </div>
                                <div class="file-upload-wrapper">
                                    <input id="image" name="image" type="file" accept=".png, .jpg" />
                                </div>
                                <button id="upload-button" type="submit">Upload</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="right-container">
                <form action="">
                    <div class="form-fields-wrapper">
                        <div class="field">
                            <h3>Username</h3>
                            <div class="input-wrapper">
                                <input id="username-input" data-initialdata="<%= user.username %>"
                                    value="<%= user.username %>" disabled>
                                <button id="username-edit" data-fieldname="username" data-input="username-input"
                                    onclick="editButtonClick(this)" type="button">Edit <i
                                        class="fad fa-pen"></i></button>
                            </div>
                        </div>

                        <div class="field">
                            <h3>Name</h3>
                            <div class="input-wrapper">
                                <input id="name-input" data-initialdata="<%= user.name %>" value="<%= user.name %>"
                                    disabled>
                                <button id="name-edit" data-fieldname="name" data-input="name-input"
                                    onclick="editButtonClick(this)" type="button">Edit <i
                                        class="fad fa-pen"></i></button>
                            </div>
                        </div>

                        <div class="field">
                            <h3>Email</h3>
                            <div class="input-wrapper">
                                <input id="email-input" type="email" data-initialdata="<%= user.email %>"
                                    value="<%= user.email %>" disabled>
                                <button id="email-edit" data-fieldname="email" data-input="email-input"
                                    onclick="editButtonClick(this)" type="button">Edit <i
                                        class="fad fa-pen"></i></button>
                            </div>
                        </div>
                        <div class="field">
                            <h3>Phone</h3>
                            <div class="input-wrapper">
                                <input id="phone-input" type="tel" data-initialdata="<%= user.phone %>"
                                    placeholder="none" value="<%= user.phone %>" disabled>
                                <button id="phone-edit" data-fieldname="phone" data-input="phone-input"
                                    onclick="editButtonClick(this)" type="button">Edit <i
                                        class="fad fa-pen"></i></button>
                            </div>
                        </div>
                        <div class="field">
                            <h3>Password</h3>
                            <div class="input-wrapper">
                                <input id="password-input" type="password" data-initialdata="<%= user.password %>"
                                    value="<%= user.password %>" disabled>
                                <button id="password-edit" data-fieldname="password" data-input="password-input"
                                    onclick="editButtonClick(this)" type="button">Edit <i
                                        class="fad fa-pen"></i></button>
                            </div>
                        </div>
                    </div>

                    <!-- <button id="confirm-btn" type="submit">Confirm Changes</button> -->

                </form>

            </div>
        </div>

        <%- include('../components/error-popup.ejs') %>

    </section>

    <div data-include="footer"></div>
    <!-- ! Javascript -->
    <script src="/js/account.js"></script>
    <script src="/js/import-html.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/error-popup.js"></script>
</body>

</html>