<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="en">

    <!-- Website Title -->
    <title>
        Confirm Booking <%= car.brand %> <%= car.name %> - Rooobz Cars
    </title>

    <!-- Icon -->
    <link rel="shortcut icon" href="https://project.reubz.io/imgs/logo.png" type="image/x-icon">

    <!-- Primary Tags -->
    <meta name="title" content="Rooobz Cars">
    <meta name="description" content="Best Car Rental Website on the planet">


    <!-- Open Graph / Facebook / Insta -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://project.reubz.io/">
    <meta property="og:title" content="Rooobz Cars">
    <meta property="og:description" content="Best Car Rental Website on the planet">
    <meta property="og:image" itemprop="image" content="https://project.reubz.io/imgs/logo-with-text.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://project.reubz.io/">
    <meta property="twitter:title" content="Rooobz Cars">
    <meta property="twitter:description" content="Best Car Rental Website on the planet">
    <meta property="twitter:image" content="https://project.reubz.io/imgs/logo-with-text.png">

    <!-- For Discord Embeds -->
    <meta content="#FF4C30" data-react-helmet="true" name="theme-color" />

    <link rel="stylesheet" href="/css/booking.css">

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Fontawesome Link -->
    <!-- <script src="https://kit.fontawesome.com/4d3f484b6f.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">

    <!-- ! Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt0zUtQlyaddQoeNCB-gTStQLKK0Y6ccA&libraries=places"></script>


</head>

<body>
    <div data-include="navbar"></div>

    <div data-include="error-popup"></div>
    <section class="important-note-banner">
        <h3><i class="fas fa-circle-exclamation-check"></i> Upon Completion you will receive a confirmation email</h3>
    </section>
    
    <section class="container">
        <form id="pay-now-form" action="">
            <h1 class="car-name"><%= car.brand %> <%= car.name %></h1>
            <div class="top-wrapper">
                <div class="left-data-wrapper">
                    <div class="title">
                        <h2>Location & Date</h2>
                    </div>
                    <div class="fields-container">
                        <div class="field-wrapper">
                            <!-- <div class="field">
                                <label class="title-wrapper" for="pickupDate">
                                    <i class="fad fa-calendar-clock"></i>
                                    <h3> Pickup Date and Time <span>*</span></h3>
                                </label>
                                <div class="input-wrapper">
                                    <input 
                                        type="datetime-local" 
                                        min="<%= new Date(Date.now() + 0 * 24 * 60 * 60 * 1000).toISOString().slice(0, -8) %>" 
                                        value="<%= new Date(Date.now() + 0 * 24 * 60 * 60 * 1000).toISOString().slice(0, -8) %>" 
                                        name="pickupDate" 
                                        id="pickupDate"
                                        required
                                    >
                                </div>
                            </div>                 -->
                            <div class="field">
                                <label for="pickupDate" class="title-wrapper">
                                    <i class="fad fa-calendar-clock"></i>
                                    <h3> Pickup Date <span>*</span></h3>
                                </label>
                                <input type="text" id="pickupDate" class="datepicker" name="pickupDate" />
                            </div>                
                            <div class="field">
                                <label class="title-wrapper" for="dropoffDate">
                                    <i class="fad fa-calendar-clock"></i>
                                    <h3> Dropoff Date <span>*</span></h3>
                                </label>
                                <input type="text" id="dropoffDate" class="datepicker" name="dropoffDate" />
                            </div>   
                            <div class="note">
                                <p><strong>Note:</strong> Time for Pickup and Dropoff is fixed at 10 AM. Exceeding this time for dropoff will count as an additional Day.</p>
                            </div>             
                            <!-- <div class="field">
                                <label class="title-wrapper" for="dropoffDate">
                                    <i class="fad fa-calendar-clock"></i>
                                    <h3> Dropoff Date and Time <span>*</span></h3>
                                </label>
                                <div class="input-wrapper">
                                    <input 
                                        type="datetime-local" 
                                        min="<%= new Date(Date.now() + 3 * 24 * 60 * 60 * 1000).toISOString().slice(0, -8) %>" 
                                        value="<%= new Date(Date.now() + 3 * 24 * 60 * 60 * 1000).toISOString().slice(0, -8) %>" 
                                        name="dropoffDate" 
                                        id="dropoffDate"
                                        required
                                    >
                                </div>
                            </div>                 -->
                        </div>
                        <div class="field-wrapper">
                            <div class="field">
                                <label class="title-wrapper" for="location">
                                    <i class="fad fa-map-location-dot"></i>
                                    <h3> Pickup / Return Location <span>*</span></h3>
                                </label>
                                <div class="input-wrapper">
                                    <select class="dropdown" name="location" id="location" required>
                                        <option value="store-pickup">In-Store Pickup</option>
                                        <option value="home-delivery">Home Delivery</option>
                                    </select>                       
                                </div>
                            </div>                
                        </div>
                    </div>
                </div>
    
                <div class="right-data-wrapper">
                    <div class="title">
                        <h2>Additional Offers</h2>
                    </div>
                    <div class="car-data-wrapper">
                        <div class="additional-offers">
                            <% offers.forEach(offer => { %>
                                <% if (offer.active == true) { %>
                                    <div class="offer" data-offer-price="<%= offer.price %>" onmouseout="offerHoverRemove(this)" onmouseover="offerHover(this)">
                                        <div class="offer-name">
                                            <%- offer.icon %> <%= offer.name %>
                                        </div>
                                        <div class="offer-button">
                                            <button class="offer-add" data-offer-id="<%= offer._id %>" data-add-text="Add +" data-remove-text="Remove" onclick="offerAddRemove(event, this)">Add +</button>
                                        </div>
                                    </div>
                                <% } %>
                            <% }); %>
                        </div>
                        <div id="pricing-box">
                            <div class="title">
                                <h2>Pricing</h2>
                            </div>
                            <table class="car-features-table">
                                <tr>
                                    <td><h3 class="highlight-title">Extra Offers</h3></td>
                                    <td><h3 id="offers-final-price" class="highlight-title">0</h3></td>
                                </tr>
                                <tr>
                                    <td><h3 class="highlight-title">Rental Price Per Day <span>(Exclusive of 18% Tax)</span></h3></td>
                                    <td><h3 class="highlight-title"><%= car.price %></h3></td>
                                </tr>
                                <tr>
                                    <td><h3 class="highlight-orange">Total</h3></td>
                                    <td><h3 class="highlight-orange" id="total-display"><%= car.price + car.price*18/100 %></h3></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="orange-line">


            <div class="bottom-wrapper">
                <div class="personal-data-wrapper">
                    <div class="title-wrapper">
                        <h2>Additional Personal Information</h2>
                    </div>
                    <div class="fields-container">
                        <div class="form-single-row">
                            <div class="flat form-field">
                                <label for="flat">Flat Number <span>*</span></label>
                                <input type="text" name="flat" id="flat" required placeholder="ABC123">
                            </div>
                            <div class="name form-field">
                                <input type="text" name="placename" id="placename">
                            </div>
                            <div class="address form-field">
                                <label for="address">Address <span>*</span></label>
                                <input type="text" name="address" id="address" required>
                            </div>
                        </div>
                        <div class="form-single-row">
                            <div class="locality form-field">
                                <label for="locality">Local Area <span>*</span></label>
                                <input type="text" name="locality" id="locality" required placeholder="Enter City">
                            </div>
                            <div class="city form-field">
                                <label for="city">City <span>*</span></label>
                                <input type="text" name="city" id="city" required placeholder="Enter City">
                            </div>
                            <div class="pin form-field">
                                <label for="pin">Pin Code <span>*</span></label>
                                <input type="text" name="pin" id="pin" required placeholder="Enter pin code">
                            </div>
                            <div class="state form-field">
                                <label for="state">State <span>*</span></label>
                                <input type="text" name="state" id="state" required placeholder="Enter State">
                            </div>
                        </div>
                        <div class="form-single-row">
                            <div class="country form-field">
                                <label for="country">Country <span>*</span></label>
                                <input type="text" name="country" id="country" required placeholder="Enter Country">
                            </div>
                            <div class="phone form-field">
                                <label for="phone">Phone <span>*</span></label>
                                <input type="tel" name="phone" id="phone" required placeholder="0123456789">
                            </div>
                            <div class="landmark form-field">
                                <label for="landmark">Landmark <span class="optional-tag">(Optional)</span></label>
                                <input type="text" name="landmark" id="landmark" placeholder="Enter Landmark">
                            </div>
                        </div>
                        <div class="save-info-wrapper">
                            <input type="checkbox" name="saveInfo" id="saveInfo" checked> 
                            <label for="saveInfo"> Save my information for future bookings.</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="book-now-btn-wrapper">
                <button id="book-now-btn" type="submit">
                    Pay Now • Rs. <%= car.price + car.price*18/100 %> 
                </button>
            </div>
        </form>

        <div id="payment-form-container">
            <div class="title-wrapper">
                <h1><%= car.brand %> <%= car.name %></h1>
            </div>
            <form id="payment-form">
                <h2>Enter Payment Details</h2>
                <div id="payment-element">
                    <!-- Elements will create form elements here -->
                </div>
                <button id="submit">Pay</button>
                <div id="error-message">
                    <!-- Display error message to your customers here -->
                </div>
            </form>
        </div>
    </section>

    


    <div data-include="save-banner"></div>

    <div data-include="footer"></div>

    <!-- ! Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/pikaday.min.js"></script>
    <script>
        
    </script>
    <script>
        const user = JSON.parse('<%- JSON.stringify(user) %> ') 
        const car = JSON.parse('<%- JSON.stringify(car) %>')

        const dropoffDatePicker = document.getElementById('dropoffDate')
        const pickupDatePicker = document.getElementById('pickupDate')
        
        pickupDatePicker.value = moment().format('DD-MM-YYYY')
        dropoffDatePicker.value = moment().add(1, "days").format('DD-MM-YYYY')
        document.addEventListener('DOMContentLoaded', function () {
            new Pikaday({
                field: pickupDatePicker,
                format: 'DD-MM-YYYY',
                minDate: moment().toDate(),
                yearRange: [moment().year(), moment().year() + 1],
                disableDayFn: function (date) {
                    // Disable past dates
                    if (moment(date).isBefore(moment(), 'day')) {
                        return true;
                    }
                    
                    // Disable booked dates
                    const formattedDate = moment(date).format('DD-MM-YYYY');
                    return car.bookedDates.includes(formattedDate);
                },
                onSelect: function() {updateFinalPrice()},
            });
            
            new Pikaday({
                field: dropoffDatePicker,
                format: 'DD-MM-YYYY',
                minDate: moment().add(1, "days").toDate(),
                yearRange: [moment().year(), moment().year() + 1],
                disableDayFn: function (date) {
                    // Disable past dates
                    if (moment(date).isBefore(moment(), 'day')) {
                        return true;
                    }
                    
                    // Disable booked dates
                    const formattedDate = moment(date).format('DD-MM-YYYY');
                    return car.bookedDates.includes(formattedDate);
                },
                onSelect: function() {updateFinalPrice()},
            });
        });
    </script>
    <script src="/js/booking.js"></script>
    <script src="/js/error-popup.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/import-html.js"></script>
</body>

</html>