<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="en">

    <!-- Website Title -->
    <title>
        <%= car.brand %>
            <%= car.name %> - Rooobz Cars
    </title>

    <!-- Icon -->
    <link rel="shortcut icon" href="https://rooobzcars.reubz.io/imgs/logo.png" type="image/x-icon">

    <!-- Primary Tags -->
    <meta name="title" content="Rooobz Cars">
    <meta name="description" content="Best Car Rental Website on the planet">


    <!-- Open Graph / Facebook / Insta -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://rooobzcars.reubz.io/">
    <meta property="og:title" content="Rooobz Cars">
    <meta property="og:description" content="Best Car Rental Website on the planet">
    <meta property="og:image" itemprop="image" content="https://rooobzcars.reubz.io/imgs/logo-with-text.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://rooobzcars.reubz.io/">
    <meta property="twitter:title" content="Rooobz Cars">
    <meta property="twitter:description" content="Best Car Rental Website on the planet">
    <meta property="twitter:image" content="https://rooobzcars.reubz.io/imgs/logo-with-text.png">

    <!-- For Discord Embeds -->
    <meta content="#FF4C30" data-react-helmet="true" name="theme-color" />

    <link rel="stylesheet" href="/css/car.css">

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Fontawesome Link -->
    <!-- <script src="https://kit.fontawesome.com/4d3f484b6f.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">

</head>

<body>
    <div data-include="navbar"></div>

    <div data-include="login-modal"></div>

    <section class="container">
        <div class="top-wrapper">
            <div class="images-wrapper">
                <% for( let index=0; index < car.imgUrls.length; index++ ) { %>
                    <div class="image-slideshow fade">
                        <img src="<%= car.imgUrls[index] %>" alt="<%= car.name %> Image">
                    </div>

                    <% } %>
                        <!-- Next and previous buttons -->
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        <div class="dots-container">
                            <% for( let index=0; index < car.imgUrls.length; index++ ) { %>
                                <!-- The dots/circles -->
                                <span class="dot" onclick="currentSlide('<%= index+1 %>')"></span>
                                <% } %>
                        </div>
            </div>
            <div class="main-data-wrapper">
                <h1 class="car-name">
                    <%= car.brand %>
                        <%= car.name %>
                </h1>
                <div class="car-data-wrapper">
                    <table class="car-features-table">
                        <tr>
                            <td>
                                <h3>Brand</h3>
                            </td>
                            <td>
                                <h3>
                                    <%= car.brand %>
                                </h3>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h3>Transmission</h3>
                            </td>
                            <td>
                                <h3>
                                    <%= car.transmission %>
                                </h3>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h3>Fuel Type</h3>
                            </td>
                            <td>
                                <h3>
                                    <%= car.fuelType %>
                                </h3>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h3>Seats</h3>
                            </td>
                            <td>
                                <h3>
                                    <%= car.seats %>
                                </h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>Colour</h3>
                            </td>
                            <td>
                                <h3>
                                    <%= car.color %>
                                </h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>Condition</h3>
                            </td>
                            <td>
                                <h3>
                                    <%= car.condition %>
                                </h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 class="highlight-title">Rental Price</h3>
                            </td>
                            <td>
                                <h3 class="highlight-orange">
                                    <%= car.price %>
                                </h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 class="highlight-title">GST</h3>
                            </td>
                            <td>
                                <h3 class="highlight-title">18%</h3>
                            </td>
                        </tr>
                    </table>
                </div>
                <button id="book-now-btn" onclick="bookNow('<%=car._id%>')">BOOK
                    Rs. <%= car.price + car.price*18/100 %> • Book Now
                </button>


            </div>
        </div>
        <div class="main-container">
            <div class="navigation-bar">
                <a id="included-tab-title" class="tab-title" onclick="openTab(this, 'included')">Included</a>
                <a id="extras-tab-title" class="tab-title" onclick="openTab(this, 'extras')">Extras</a>
                <a id="ratings-tab-title" class="tab-title" onclick="openTab(this, 'ratings')">Ratings</a>
            </div>
            <div class="content-wrapper">
                <div id="included-content" class="content">
                    <ul>
                        <li><i class="fas fa-check"></i> Full Tank Fuel</li>
                        <li><i class="fas fa-check"></i> Unlimited Mileage</li>
                        <li><i class="fas fa-check"></i> Collision Damage Waiver</li>
                        <li><i class="fas fa-check"></i> Theft Protection</li>
                        <li><i class="fas fa-check"></i> 0% Cancellation Fee</li>
                    </ul>
                </div>
                <div id="extras-content" class="content">
                    <ul>
                        <li><i class="fas fa-check"></i> Infant Safety Seat</li>
                        <li><i class="fas fa-check"></i> Child Booster Seat</li>
                        <li><i class="fas fa-check"></i> GPS Navigation</li>
                        <li><i class="fas fa-check"></i> Music System</li>
                        <li><i class="fas fa-check"></i> 24/7 Emergency Breakdown Assistance</li>
                    </ul>
                </div>

                <div id="ratings-content" class="content">
                    <% if (user.id !=undefined) { %>
                        <button id="add-review-btn">Add a Review <i class="fas fa-pen"></i></button>
                        <br>
                        <br>
                        <form id="add-review">
                            <div class="rating-wrapper">
                                <label class="rating-label">Add Rating: </label>
                                <input id="rating-star-number" class="rating-star-number" type="number" value="0">
                                <div class="rating-stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <div class="message-box">
                                <label for="review-message">Type your message here</label>
                                <textarea name="review-message" id="review-message"
                                    placeholder="Really amazing service!!! " rows="3"></textarea>
                            </div>

                            <div class="review-submit">
                                <button type="submit">Add Review <i class="fas fa-check-circle"></i> </button>
                            </div>
                        </form>

                        <% } %>

                            <hr>
                            <br>
                            <br>
                            <% for( let index=0; index < 3; index++ ) { %>
                                <div class="review">
                                    <div class="review-top">
                                        <div class="review-user-image">
                                            <img src="/imgs/default-user-img.png" alt="User Profile Image">
                                        </div>
                                        <div class="user-data">
                                            <h3>John Doe</h3>
                                            <h4>Rating: 7/10</h4>
                                        </div>
                                    </div>
                                    <div class="review-message">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, modi repellendus
                                        numquam architecto deserunt placeat consequatur repellat delectus eius hic
                                        corporis cumque aut, magnam facilis, maxime sit blanditiis quis. Nihil earum
                                        labore alias suscipit! Deleniti debitis perferendis rerum sequi iusto deserunt
                                        quidem hic, enim nemo.
                                    </div>
                                </div>
                                <br>
                                <br>
                                <% } %>
                </div>
            </div>
        </div>

    </section>


    <div data-include="save-banner"></div>

    <div data-include="footer"></div>

    <!-- ! Javascript -->
    <script>
        const user = JSON.parse('<%- JSON.stringify(user) %> ')
        const car = JSON.parse('<%- JSON.stringify(car) %>')
    </script>
    <script src="/js/car.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/import-html.js"></script>
</body>

</html>