<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="en">

    <!-- Website Title -->
    <title>
        Payment <%= orderData.car.brand %>
            <%= orderData.car.name %> - Rooobz Cars
    </title>

    <!-- Icon -->
    <link rel="shortcut icon" href="https://rooobzcars.reubz.io/imgs/logo.png" type="image/x-icon">

    <!-- Primary Tags -->
    <meta name="title" content="Rooobz Cars">
    <meta name="description" content="Best Car Rental Website on the planet">


    <!-- Open Graph / Facebook / Insta -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://rooobzcars.reubz.io/">
    <meta property="og:title" content="Rooobz Cars">
    <meta property="og:description" content="Best Car Rental Website on the planet">
    <meta property="og:image" itemprop="image" content="https://rooobzcars.reubz.io/imgs/logo-with-text.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://rooobzcars.reubz.io/">
    <meta property="twitter:title" content="Rooobz Cars">
    <meta property="twitter:description" content="Best Car Rental Website on the planet">
    <meta property="twitter:image" content="https://rooobzcars.reubz.io/imgs/logo-with-text.png">

    <!-- For Discord Embeds -->
    <meta content="#FF4C30" data-react-helmet="true" name="theme-color" />

    <link rel="stylesheet" href="/css/payment.css">

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Fontawesome Link -->
    <!-- <script src="https://kit.fontawesome.com/4d3f484b6f.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">

    <!-- ! Stripe Payments API -->
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    <div data-include="navbar"></div>

    <div data-include="error-popup"></div>
    <section class="important-note-banner">
        <h3><i class="fas fa-circle-exclamation-check"></i> Upon Completion you will receive a confirmation email</h3>
    </section>

    <section class="container">
        <div id="payment-form-container">
            <div class="title-wrapper">
                <h1>
                    <%= orderData.car.brand %>
                        <%= orderData.car.name %>
                </h1>
            </div>
            <form id="payment-form">
                <h2>Enter Payment Details</h2>
                <div id="payment-element">
                    <!-- Elements will create form elements here -->
                </div>
                <button id="submit">Pay</button>
                <div id="error-message">
                    <!-- Display error message to your customers here -->
                </div>
            </form>
        </div>
    </section>

    <div data-include="save-banner"></div>

    <div data-include="footer"></div>

    <!-- ! Javascript -->
    <script>
        const client_secret = JSON.parse('<%- JSON.stringify(client_secret) %> ')
        const stripePublicKey = JSON.parse('<%- JSON.stringify(stripePublicKey) %> ')
        // const orderData = JSON.parse('<%- JSON.stringify(orderData) %>')
    </script>
    <script src="/js/payment.js"></script>
    <script src="/js/error-popup.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/import-html.js"></script>
</body>

</html>