<footer>
    <!-- ! 1st Section - Brand Data -->
    <div class="section1">
        <div class="title">
            <img class="brand-image dark-light-img" src="<%= config.logo.alternate.light.path %>" data-light="<%= config.logo.alternate.light.path %>" data-dark="<%= config.logo.alternate.dark.path %>" alt="Logo Text">
        </div>
        <p class="data brand-data">
            We are a leading car rental company that offers affordable and reliable services to customers worldwide. We
            are committed to providing the perfect car to meet your needs
        </p>
        <a href="tel:<%= config.phone %>" class="phone-number highlight-link">
            <i class="fa-light fa-phone-volume fa-lg"></i>
            <%= config.phone %>
        </a>
        <a href="mailto:<%= config.email %>" class="email highlight-link">
            <i class="fa-light fa-envelope fa-lg"></i>
            <%= config.email %>
        </a>

    </div>

    <!-- ! 2nd Section - Quick Links -->
    <div class="section2">
        <h2 class="title">Quick Links</h2>
        <ul class="data">
            <!-- <li><a href="/careers">Careers</a></li> -->
            <li><a href="/how-we-work">How we work</a></li>
            <li><a href="/vehicles">All Cars</a></li>
            <li><a href="/terms">Terms &amp; Conditions</a></li>
            <li><a href="/cancellation-policy">Cancellation Policy</a></li>
        </ul>
    </div>
    <!-- ! 3rd Section - Working Hours -->
    <div class="section3">
        <h2 class="title">Working Hours</h2>
        <ul class="data">
            <li>Mon - Fri: 9 AM to 7 PM</li>
            <li>Sat: 8 AM to 7 PM</li>
            <li>Sun: Closed</li>
        </ul>
    </div>

    <!-- ! 4th Section - Subscriptions -->
    <div class="section4">
        <h2 class="title">Subscriptions</h2>
        <p class="data">Subscribe your email address for latest news and updates</p>
        <form id="subscribe-form" action="">
            <input id="subscribe-email" type="email" name="subscription_email" placeholder="Email Address" required>
            <button id="subscribe-submit" onclick="emailSubmit(document.getElementById('subscribe-email').value)"
                type="button">Submit</button>
        </form>
        <p id="confirm-message">This is Error</p>
    </div>
</footer>